@keyframes scale {
    0% {
        transform: scale(0.5);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(0.5);
    }
}

.animate-scale {
    animation: scale 0.8s ease-in-out infinite;
}

.animate-scale-1 {
    animation-delay: 0s;
}

.animate-scale-2 {
    animation-delay: 0.3s;
}

.animate-scale-3 {
    animation-delay: 0.6s;
}
